.footer {
    background-color: #60275c;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
  }
  
  .github-link {
    color: #dc7dff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .github-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  